-// 制作実績の画像とURL
-
  const topIcon = {
    img: '../images/01_top/umikaze_icon.png',
    alt: 'umikaze_icon',
    title: '逗子で、太陽のような<br class="utils-hidden-sp-s">いのち、育もう',
  }
  const slideItems = [
    {
      class: 'test-slide01',
      img: '../images/01_top/top-fv_slide01.png',
      alt: 'top-fv_slide',
      link: '',
    },
    {
      class: 'test-slide02',
      img: '../images/01_top/top-fv_slide02.png',
      alt: 'top-fv_slide',
      link: '',
    },
    {
      class: 'test-slide03',
      img: '../images/01_top/top-fv_slide03.png',
      alt: 'top-fv_slide',
      link: '',
    },
  ]
//top-fv
.top-fv
  .top-fv__content
    .top-fv__icon
      img(src=topIcon.img, alt=topIcon.alt)
    .top-fv__title
      h2 !{topIcon.title}
  .top-fv__content-container
    .swiper
      ul.swiper-wrapper
        each slideItem in slideItems
          li.swiper-slide
            img(src=slideItem.img, alt=slideItem.alt)
      .swiper-pagination
  //- <p>画面サイズ：<span id="ScrSize"></span></p>
  //- <p>ウィンドウサイズ：<span id="WinSize"></span></p>
