-//ナビメニューの項目
-
  const navItems = [
    {
      name: "TOP",
      url: "",
    },
    {
      name: "妊活について",
      url: "",
    },
    {
      name: "妊娠中について",
      url: "",
    },
    {
      name: "産後について",
      url: "",
    },
    {
      name: "さまざまな年代の女性を対象にした各教室のご案内",
      url: "",
    },
    {
      name: "料金のご案内",
      url: "",
    },
  ]
  const navTopic = {
        name: "TOPIC<br>最新情報",
        url: "",
  }
  const navReserve = {
        name: "ご予約",
        url: "",
  }
  const navPayment = {
        name: "お支払いはこちら",
        url: "",
  }
  const navInstagram = {
        name: "instagram",
        url: "",
        icon: "",
  }
//header
header.header
  .header__inner
    i.fa-brands.fa-instagram
    nav.header__nav
      ul.header__items
        each navItem in navItems
          li.header__item
            a(href=navItem.url) #{navItem.name}
    .header__link
      .header__topic
        a(href=navTopic.url class="link-btn") !{navTopic.name}
      .header__wrapper
        .header__reserve
          a(href=navReserve.url class="link-btn") !{navReserve.name}
        .header__payment
          a(href=navPayment.url class="link-btn") #{navPayment.name}
      .header__instagram
        a(href=navInstagram.url) #{navInstagram.name}
