-
  const paymentText = {
    title: 'お支払方法について',
    text: 'うみかぜ助産院ではお支払い方法が4種類',
    sub: '患者様の生活スタイルに合わせてお選びできる4種類をご用意してあります。',
  }
  const cashText = {
    title: '現金',
    text: '診療代金は全て現金でのお支払いに対応しております。',
  }
  const qrText = {
    title: 'QR決済',
    text: 'QRコード決済では診療代金全てお支払いができます。',
    possible: 'ご利用できるQR決済',
  }
  const qrItems = [
    {
      img: '../images/07_price/paypay.png',
      title: 'PayPay',
    },
    {
      img: '../images/07_price/id.png',
      title: 'ID',
    },
    {
      img: '../images/07_price/quicpay.png',
      title: 'QUICPay',
    },
  ]
  const electronicText = {
    title: '電子マネー決済',
    text: 'QRコード決済では施術代金全てお支払いができます。',
    possible: 'ご利用できるQR決済',
    category: '各種交通系電子マネー',
  }
  const electronicItems = [
    {
      img: '../images/07_price/electronic-money_01.png',
      alt: '電子マネー決済イメージ画像',
    },
    {
      img: '../images/07_price/electronic-money_02.png',
      alt: '電子マネー決済イメージ画像',
    },
    {
      img: '../images/07_price/electronic-money_03.png',
      alt: '電子マネー決済イメージ画像',
    },
    {
      img: '../images/07_price/electronic-money_04.png',
      alt: '電子マネー決済イメージ画像',
    },
  ]
  const creditText = {
    title: 'クレジットカード',
    text: '下記が対応カード会社です。',
    possible: 'ご利用できるカード',
    supplement: '※クレジットカードの場合はご本人様名義カードのみお支払いとなります。御家族様名義のカードは名義人様同伴であればご利用いただけます。ご利用頂けるお支払方法は、お客さまの所属カード会社により異なります。',
    note: '事前クレジットカードのお支払いも可能です。ご希望の方は【ご予約・お問い合わせ】時にその旨をお伝えください。',
  }
  const creditItems = [
    {
      img: '../images/07_price/master.png',
      title: 'MASTER',
      alt: 'MASTER',
    },
    {
      img: '../images/07_price/visa.png',
      title: 'VISA',
      alt: 'VISA',
    },
    {
      img: '../images/07_price/jcb.png',
      title: 'JCB',
      alt: 'JCB',
    },
    {
      img: '../images/07_price/amex.png',
      title: 'AMERICAN<br>EXPRESS',
      alt: 'AMERICAN EXPRESS',
    },
    {
      img: '../images/07_price/diners.png',
      title: 'Diners Club',
      alt: 'Diners Club',
    },
    {
      img: '../images/07_price/discover.png',
      title: 'DISCOVER',
      alt: 'DISCOVER',
    },
  ]

//payment
section
  .payment
    .payment__inner
      .payment__content
        .payment__content-title
          h2 #{paymentText.title}
        .payment__content-text
          p #{paymentText.text}
          p #{paymentText.sub}
      .payment__cash
        .payment-title
          h3 #{cashText.title}
        .payment-text
          p #{cashText.text}
      .payment__qr
        .payment-title
          h3 #{qrText.title}
        .payment-text
          p #{qrText.text}
        .payment__qr__content
          .payment__qr__content-title
            h4 #{qrText.possible}
          ul.payment__qr__content-items
            each qrItem in qrItems
              li.payment__qr__content-item
                .payment__qr__content-item-img
                  img(src=qrItem.img, alt=qrItem.title)
                .payment__qr__content-item-title
                  p #{qrItem.title}
      .payment__electronic
        .payment-title
          h3 #{electronicText.title}
        .payment-text
          p #{electronicText.text}
        .payment__electronic__content
          .payment__electronic__content-title
            p  #{electronicText.possible}
          .payment__electronic__content-wrapper
            each electronicItem in electronicItems
              img(src=electronicItem.img, alt=electronicItem.alt)
          .payment__electronic__content-category
            p #{electronicText.category}
      .payment__credit
        .payment-title
          h3 #{creditText.title}
        .payment-text
          p #{creditText.text}
        .payment__credit__content
          .payment__credit__content-title
            h4 #{qrText.possible}
          ul.payment__credit__content-items
            each creditItem in creditItems
              li.payment__credit__content-item
                .payment__credit__content-item-img
                  img(src=creditItem.img, alt=creditItem.alt)
                .payment__credit__content-item-title
                  p !{creditItem.title}
        .payment__credit-supplement
          p #{creditText.supplement}
        .payment__credit-note
          p #{creditText.note}
